// 项目提供的scss全局变量

// 定义全局的样式-左侧区域
$base-menu-width:260px;
$base-menu-background: #001529;
$base-menu-min-width: 50px;
// 左侧logo样式
$base-menu-logo-height: 50px;
// 左侧菜单logo旁文字大小
$base-logo-title-fontSize: 20px;

// 定义全局的样式-顶部区域
$base-tabbar-height: 50px;
